.filter-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container input {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.filter-container input::placeholder {
  color: #999;
}
